.project-list{
    margin-top: -1rem;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}
  
.filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.filter-tag {
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    font-size: var(--tiny-font-size);
    color: white;
    background-color: var(--hover-color);
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.filter-tag.selected {
    background-color: var(--other-color);
}

.card{
    border: 1px solid var(--hover-color);
    border-width: 2px;
    border-style: double;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-bottom: 1rem;
}

.card-content{
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
}

.card-text{
    margin: auto 1rem;
}

.card-title{
    font-size: var(--h4-font-size);
    margin-bottom: 0.75rem;
    font-family: "Gideon Roman", serif;
}

.card-description{
    font-size: var(--small-font-size);
    margin-bottom: 0.75rem;
}

.card-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.tag {
    font-size: var(--tiny-font-size);
    background-color: var(--hover-color);
    text-align: center;
    color: white;
    padding: 0.2rem 0.3rem;
}