.project-list{
    align-items: center;
}

.filter-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 1.5rem auto;
    width:65vw;
    max-width: 982px;
    align-items: center;
}
  
.filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-self: center;
}

.filter-tag {
    cursor: pointer;
    padding: 0.15rem 0.5rem;
    font-size: var(--small-font-size);
    color: var(--title-color);
    border: 1px solid var(--hover-color);
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    justify-content: center;
}

.filter-tag.selected {
    background-color: var(--hover-color);
    color: white;
}

.project-card{
    /* border: 1px solid var(--hover-color);
    border-width: 2px;
    border-style: double;
    border-radius: 1.5rem; */
    /* box-shadow: 2px 2px 2px rgba(0,0,0,0.1); */
    padding: 0.7rem 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 75vw; 
    margin-bottom: 2rem;
    text-align: left;
}

.project-card-content-link {
    text-decoration: none;
    color: inherit;        
}

.project-card:hover {
    background-color: var(--hover-light-color);
    /* border-block: solid var(--hover-color); */
    border-radius: 0.5rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
    writing-mode: horizontal-tb;
}

.project-card.no-hover:hover {
    transform: none;
    cursor: default;
}
  
.project-card-content{
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
}

.project-card-text{
    margin: auto 1rem;
    color: var(--text-color);
}

.project-card-title{
    font-size: var(--h4-font-size);
    margin-bottom: 0.5rem;
    font-family: var(--subtitle-font);
}

.project-card-description{
    font-size: var(--small-font-size);
    margin-bottom: 0.75rem;
}

.project-card-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    align-self: flex-start;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.tag {
    font-size: var(--tiny-font-size);
    background-color: var(--hover-color);
    text-align: center;
    color: white;
    padding: 0.2rem 0.3rem;
}

@media screen and (max-width: 992px) {
    .project-card-thumbnail {
        width: 120px;
        height: 120px;
    }
}
  
@media screen and (max-width: 576px) {
    .project-card-thumbnail {
        width: 80px;
        height: 80px;
    }
}