.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-header {
    width: 60%;
    max-width: 972px;
    text-align: left;
    margin: 0 auto 1rem auto;
}

.project_title-image {
    max-width: 55vw;
    /* height: auto; */
    max-height: 60vh;
    margin: 1rem auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.project-content{
    width: 60%;
    max-width: 972px;
    margin: 1.5rem auto;
    align-items: center;
    justify-content: center;
}

.project-description {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: 1.5rem;
    text-align: left;
    max-width: 972px;
}

.project-image {
    max-width: 45vw;
    max-height: 65vh;
    margin: 1rem auto 1rem auto;
    display: flex;
    justify-content: center;
}

.project-subdescription {
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    color: var(--text-light-color);
    width: 50vw;
    height: auto;
    text-align: center;
    margin: 0 auto 1.5rem auto;
}

.project-line {
    width: 100%;
    border: 0.5px dotted var(--hover-color);
}

.project-title{
    font-family: var(--subtitle-font);
    font-size: var(--h3-font-size);
    color: var(--title-color);
    text-align: left;
    margin: 0 auto;
    margin: 1.5rem 0;
    font-weight: var(--font-medium);
}

.project-subtitle{
    font-family: var(--subtitle-font);
    font-size: var(--h3-font-size);
    color: var(--title-color);
    text-align: left;
    margin: 0 auto;
    margin: 1rem 0;
}

.project_image-column {
    float: left;
    width: 24vw;
    padding: 5px;
}

.project_image-row {
    margin: 0 auto 1rem auto;
    content: "";
    clear: both;
    display: table;
}

.project_page-image-qr {
    max-width: 12vw;
    max-height: 15vh;
    margin: 1rem auto 0.5rem auto;
    display: flex;
    justify-content: left;
}