.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.artwork-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.artwork-card-content-link {
    text-decoration: none;
    color: inherit;
}

.artwork-card-thumbnail {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.artwork-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.85);
    display:flex;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 1rem;
}

.artwork-card:hover .artwork-card-overlay {
    opacity: 1;
}

.artwork-card-text{
    margin: auto auto 0 0;
}

.artwork-card-title {
    font-family: var(--header-font);
    font-size: var(--h4-font-size);
    color: var(--body-color);
    margin-bottom: 0;
}

.artwork-card-description {
    font-family: var(--subtitle-font);
    font-size: var(--normal-font-size);
    color: white;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}
