.artwork{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.artwork-content{
    width: 60%;
    max-width: 972px;
    margin: 1.5rem auto;
    align-items: center;
    justify-content: center;
}

.artwork-description {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: 1.5rem;
    text-align: left;
    max-width: 972px;
}

.artwork-subdescription {
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    color: var(--text-light-color);
    width: 50vw;
    height: auto;
    text-align: center;
    margin: 0 auto 1.5rem auto;
}

.artwork-line {
    width: 100%;
    border: 0.5px dotted var(--hover-color);
}

.artwork-title{
    font-family: var(--subtitle-font);
    font-size: var(--h3-font-size);
    color: var(--title-color);
    text-align: left;
    margin: 0 auto;
    margin: 1.5rem 0;
    font-weight: var(--font-medium);
}

.artwork-subtitle{
    font-family: var(--subtitle-font);
    font-size: var(--h4-font-size);
    color: var(--title-color);
    text-align: left;
    margin: 0 auto;
    margin: 1rem 0;
}
