.gallery-image {
    max-width: 50vw;
    height: auto;
    padding: 0 0.5rem;
    /* object-fit: cover; */
}

.gallery-wrapper {
    width: 100%;
    height: 10rem;
    overflow: hidden;
}

.wrapper .gallery-images {
    display: flex;
}

