.grid-wrap {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
}

.grid-item{
    margin-bottom: 1rem;
}

.grid-item-media{ 
    width: 100%;
    object-fit: cover;
}

.grid-item-description{
    margin-top: 0.5rem;
    font-size: var(--normal-font-size);
    text-align: right;
}


