.artwork_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.artwork_page-header {
    width: 60%;
    max-width: 972px;
    text-align: left;
    margin: 0 auto 1rem auto;
}

.artwork_page-gallery {
    width: 65vw; 
    max-width: 982px;
    margin: 0 auto;
    padding: 1.5rem 0;
}
  
.artwork_page-slide img {
    width: 100%; 
    height: auto; 
}

.slick-slide{
    width: 65vw; 
    max-width: 982px;
    max-height: 60vh;
}

.slick-slide img{
    max-width: 982px;
    max-height: 60vh;
    margin: 0 auto;
}

.slick-dots {
    font-size: 0.5rem;
    bottom: -1.5rem;
}

.slick-prev::before, 
.slick-next::before {
    display: none; /* remove original arrow image */
}

.slick-next:hover svg,
.slick-prev:hover svg {
  stroke: var(--hover-color);
  transition: transform 0.2s ease, stroke 0.2s ease;
}

.slick-dots li button:before {
    font-size: 1rem;
    color: var(--text-light-color);
}

.slick-dots li.slick-active button:before {
    color: var(--title-color);
}
  
.gallery-image-description {
    margin-top: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.artwork_page-content{
    width: 60%;
    max-width: 972px;
    margin: 1.5rem auto;
    align-items: center;
    justify-content: center;
}

.artwork_page-description {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: 1.5rem;
    text-align: left;
    max-width: 972px;
}

.artwork_page-image {
    width: 50vw;
    height: auto;
    margin: 1rem auto 0.5rem auto;
    display: flex;
    justify-content: center;
}

.artwork_page-subdescription {
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    color: var(--text-light-color);
    width: 50vw;
    height: auto;
    text-align: center;
    margin: 0 auto 1.5rem auto;
}

.artwork_page-line {
    width: 100%;
    border: 0.5px dotted var(--hover-color);
}

.artwork_page-title{
    font-family: var(--subtitle-font);
    font-size: var(--h3-font-size);
    color: var(--title-color);
    text-align: left;
    margin: 0 auto;
    margin: 1.5rem 0;
    font-weight: var(--font-medium);
}

.artwork_page-subtitle{
    font-family: var(--subtitle-font);
    font-size: var(--h4-font-size);
    color: var(--title-color);
    text-align: left;
    margin: 0 auto;
    margin: 1rem 0;
}

.quote{
    font-family: var(--subtitle-font);
}
