.intro_container{
    row-gap: 7rem;
    margin-bottom: 2vw;
}

.intro_content{
    margin-left: 3rem;
    grid-template-columns: 96px repeat(2,1fr);
    padding-top: 5vw;
    column-gap: 2rem;
    align-items: center;
}

@keyframes profile_animate{
    0% {
        border-radius: 60% 20% 30% 30%/50% 30% 50% 30%;
    }

    33% {
        border-radius: 40% 70% 60% 50%/60% 60% 50% 40%;
    }

    66% {
        border-radius: 60% 40% 60% 70%/50% 50% 70% 70%;
    }

    100% {
        border-radius: 60% 20% 30% 30%/50% 30% 50% 30%;
    }
}

.intro_img {
    background: url('../../assets/profile_photos/profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 
        0 0 0 1px var(--body-color),
        0 0 0 3px var(--title-color),
        0 0 0 3.5px var(--body-color),
        0 0 0 5px var(--title-color);
    order: 1;
    justify-self: left;
    width: 257px;
    height: 257px;
    animation: profile_animate 8s ease-in-out infinite 1s;
}

.intro_title{
    font-size: var(--big-font-size);
    margin-bottom: 1rem;
}

.intro_subtitle {
    position: relative;
    font-size: var(--h4-font-size);
    /* padding-left: 5.4rem; */
    font-family: var(--subtitle-font);
    font-weight: var(--h4-font-size);
    margin-bottom: 1rem;
}

.intro_content-description{
    margin-top: 5rem;
    margin-left: 11.25rem;
    width: 60vw;
    max-width: 700px;
}

.intro-description{
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
}

.intro-subdescription {
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
    color: var(--text-light-color);
    height: auto;
}

.socialIcons{
    font-size: var(--h4-font-size);
    display: grid;
    grid-template-columns: max-content;
}

.socialIconImg { 
    height: 35px;
    width: 35px;
    padding: 0 5px;
    cursor: pointer;
}

/* .intro_scroll{
    margin-left: 9.25rem;
} */

/* @keyframes scroll {
    0%{
       transform: translateY(0);
    }

    30%{
        transform: translateY(3.75rem);
    }
} */

/* .wheel {
    animation: scroll 2s ease infinite;
} */

/* .intro_scroll-name{
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-right: 0.25rem;
    margin-left: 2px;
} */

/* .intro_scroll-arrow{
    font-size: 1.25rem;
    color: var(--title-color);
} */

/* BREAKPOINTS */
/*Large Devices*/
@media screen and (max-width: 992px) {
    .intro_content{
        grid-template-columns: 86px repeat(2,1fr);
        column-gap: 1.25rem;
        margin-left: 3rem;
    }

    .intro_data{
        margin-left: 1.5rem;
    }

    .intro_img{
        width: 200px;
        height: 200px;
        justify-self: left;
        box-shadow: 
            0 0 0 1px var(--body-color),
            0 0 0 2.5px var(--title-color),
            0 0 0 3px var(--body-color),
            0 0 0 4px var(--title-color);
    }

    .intro_content-description{
        margin-left: 11rem;
        width: 55vw;
        /* max-width: 450px; */
    }

    .button{
        padding: 1rem 1.75rem;
    }

    .socialIcons{
        padding: 1rem 1.75rem;
    }
  }
  
  /*Medium Devices*/
  @media screen and (max-width: 768px) {
    .intro_content{
        grid-template-columns: 0.5fr 3fr;
        justify-self: center;
        padding: 0 auto;
    }

    .intro_img{
        order: initial;
        justify-self: initial;
        box-shadow: 
            0 0 0 0.5px var(--body-color),
            0 0 0 1.5px var(--title-color),
            0 0 0 2px var(--body-color),
            0 0 0 2.5px var(--title-color);
        width: 170px;
        height: 170px;
    }

    .intro_data{
        grid-column: 1/3;
        margin-left: 2rem;
    }

    .socialIconImg { 
        height: 32px;
        width: 32px;
        padding: 0 5px;
        cursor: pointer;
    }

    .intro_content-description{
        margin: 5rem auto 0 auto;
        width: 60vw;
    }
    /* .intro_scroll{
        display: none; 
    } */

  }
  
  /*Small Devices*/
  @media screen and (max-width: 350px) {
    .intro_content{
        grid-template-columns: 0.5fr 3fr;
    }

    .intro_data{
        grid-column: 1/3;
    }
  }