.footer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    color: var(--hover-color);
    font-family: var(--subtitle-font);
}