/* GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Comfortaa:wght@300..700&family=Fredericka+the+Great&family=Sacramento&display=swap');

/* VARIABLE CSS*/
:root {
  --header-height: 3rem;

  /*=====  Colors =====*/  
  /*Color mode rgb/rgba (r,g,b,a)*/
  --body-color: rgb(224, 224, 221); /*canvas*/
  --text-color: rgb(75,71,63); /*dark grey*/
  --highlight-color: rgb(241,60,31); /*red*/
  --title-color: rgb(4, 57, 39); /*green*/
  --hover-color:rgba(4, 57, 39,0.5); /*green semi transparent*/
  --active-color: rgb(238, 183, 19); /*yellow*/
  --decoration-color: rgb(148,136,0); /*green brown*/
  --other-color: rgb(26, 85, 140); /*blue*/

  /*=====  Font & Typography =====*/  
  --header-font: "Fredericka the Great", sans-serif;
  --body-font: "Calibri",sans-serif;

  --big-font-size: 4rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --normal-font-size: 1.25rem;
  --small-font-size: 0.875rem;
  --tiny-font-size: 0.625rem;
 
  /*=====  Font Weight =====*/  
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*===== Margins Bottom =====*/
  --md-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
 
  /*===== z-index =====*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --tiny-font-size: 0.75rem;
  }
}


/* BASE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html{
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3{
  font-family: var(--header-font);
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* REUSABLE CSS CLASSES */
.section{
  padding: 6rem 0 2rem;
}

.section_title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section_subtitle{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section_title,
.section_subtitle{
  text-align: center;
}

/* LAYOUT */
.container{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid{
  display: grid;
  gap: 1.5rem;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button_icton{
  margin-left: var(--mb-0-5);
}

.button-flex{
  display: inline-flex;
  align-items: center;
}

/* BREAKPOINTS */
/*Large Devices*/
@media screen and (max-width: 992px) {
  .container{
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

/*Medium Devices*/
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/*Small Devices*/
@media screen and (max-width: 350px) {
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}