.entry {
  font-family: var(--header-font);
  /* font-weight: var(--font-normal); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--hover-color);
  animation: fade-in-out 5s ease-in-out;
}

.entry-text {
  font-size: var(--huge-font-size);
  position: relative;
  text-transform: full-width;
  display: flex;
}

.entry-text .entry-letter {
  position: relative;
  display: flex;
}

.entry-text .entry-letter .entry-source {
  color: var(--title-color);
  -webkit-text-stroke: 0.01em rgba(0, 0, 0, 0.3);
  display: flex;
}

.entry-text .entry-letter .entry-overlay,
.entry-text .entry-letter .entry-shadow {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
}

.entry-text .entry-letter .entry-overlay {
  background-image: linear-gradient(90deg, var(--body-color) 85%, var(--hover-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotateY(-30deg) skew(0, -10deg);
  transform-origin: left;
  animation: entry-overlay 3s infinite ease-out var(--delay);
}

.entry-text .entry-letter .entry-shadow {
  filter: blur(5px);
  background-image: linear-gradient(90deg, rgba(4, 57, 39,0.2) 30%, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: skew(0, 20deg) translateY(0.1em) translateX(0.05em);
  animation: entry-shadow 3s infinite var(--delay);
}

@keyframes entry-shadow {
  0%, 20%, 100% {
    transform: skew(0, 15deg) translateY(0.1em) translateX(0.05em);
    opacity: 1;
  }
  10% {
    transform: skew(0, 0) translateY(0) translateX(0);
    opacity: 0;
  }
}

@keyframes entry-overlay {
  0%, 20%, 100% {
    transform: rotateY(-30deg) skew(0, -7deg);
  }
  10% {
    transform: rotateY(0deg) skew(0, 0);
  }
}

@keyframes fade-in-out {
  80%{
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
